[tool.poetry]
name = "binarylane-cli"
version = "0.12.0"
description = ""
authors = ["Nathan O'Sullivan <nathan.osullivan@mammoth.com.au>"]
readme = "README.md"
packages = [{include = "binarylane", from = "src"}, {include = "binarylane", from = "lib" }]

[tool.poetry.dependencies]
python = "^3.7.2"
terminaltables = "^3.1.10"
httpx = "^0.23.0"
attrs = "^22.2.0"
python-dateutil = "^2.8.2"
"backports.cached-property" = { version = "^1.0.2", python = "<3.8" }
typing-extensions = { version = "^4.0.0", python = "<3.8" }

[tool.poetry.scripts]
bl = "binarylane.console.app:main"

[tool.poetry.group.dev.dependencies]
taskipy = "^1.10.3"
isort = "^5.10.1"
black = "^22.8.0"
pylint = "^2.15.2"
mypy = "^0.991"
types-python-dateutil = "^2.8.19"
pytest = "^7.2.0"
absolufy-imports = "^0.3.1"
binarylane-python-client = "^0.13.2a0"
safety = "^2.3.5"


[tool.taskipy.tasks]
generate = "python scripts/generate.py"
black = "black ."
isort = "isort ."
mypy = "mypy ."
pylint = "pylint src"
safety = "poetry export -f requirements.txt | safety check --bare --stdin"
test = "pytest tests"
check = "task isort && task black && task mypy && task pylint && task test && task safety"

[tool.isort]
line_length = 120
profile = "black"
sections=['FUTURE', 'STDLIB', 'COMPAT', 'THIRDPARTY', 'FIRSTPARTY', 'LOCALFOLDER']
no_lines_before=["COMPAT"]
known_compat=["binarylane.pycompat"]
known_first_party=["binarylane"]
known_local_folder=["binarylane.console"]

[tool.black]
line-length = 120
target_version = ['py37', 'py38', 'py39']

[tool.pylint.format]
max-line-length = 120
ignore-paths = ['src/binarylane/console/commands/*/']

[tool.pylint.messages_control]
disable = [
    "import-outside-toplevel",  # CLI programs need delayed import
    "design",  # design checker is too opinionated
    "fixme",  # FIXME: initial impl in progress

    # Checkbox documentation is bad:
    "missing-module-docstring",
    "missing-class-docstring",
    "missing-function-docstring",
]

[tool.mypy]
disallow_any_generics = true
disallow_untyped_defs = true
warn_redundant_casts = true
strict_equality = true
mypy_path = "lib:src"
namespace_packages = true
explicit_package_bases = true
exclude = [
    'src/binarylane/console/actions\.py$',  # from python 3.9
]

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
