
{# Create a dictionary of path parameter -> endpoint (defined in endpoint_module.py.jinja due to jinja scope behaviour) #}
{% for property in endpoint.path_parameters.values() %}
{% for param in endpoint.data.parameters if param.param_in == 'path' and property.name == param.name and param['x-cli-lookup'] %}
{% set lookup_endpoint = openapi.endpoints_by_name.get(param['x-cli-lookup']) %}
{% if not lookup_endpoint %}
{{ fail('lookup command not found', param['x-cli-lookup']) }}
{% endif %}
{% set _ = lookup_parameters.__setitem__(property.name, lookup_endpoint) %}
{% endfor %}
{% endfor %}
