""" {{ package_description }} """
from .client import AuthenticatedClient, Client
from .. import cli
from typing import Union
from .types import Unset, UNSET

from argparse import ArgumentParser

{% from "endpoint_macros.py.jinja" import header_params, cookie_params, query_params, json_body, multipart_body,
    arguments, client, kwargs, parse_response, docstring %}

{% for key, value in openapi.endpoint_collections_by_tag | dictsort if key in ('keys') %}
@cli.add_group('{{ key }}', help='Acess {{ key }} commands')
def {{ key }}(client):
    return False  # display help

{% for endpoint in value.endpoints %}

    {% for relative in endpoint.relative_imports %}
{{ relative.replace("...",".") }}
{% endfor %}


## endpoint:
@{{key}}.add_command('{{ endpoint.name }}', help='{{ endpoint.summary }}')
def {{ python_identifier(endpoint.name) }}(
     {#  arguments(endpoint) | indent(4) #}
    parser: ArgumentParser
    ):
    #print('endpoint {{ endpoint.name }}:')
    {% for parameter in endpoint.path_parameters.values() %}
    # {{ parameter }}
    parser.add_argument('{{ parameter.name }}')
    {% endfor %}

    {% if endpoint.json_body %}
    from .models.{{ endpoint.json_body.class_info.module_name }} import {{ endpoint.json_body.class_info.name }}
        {% for property in endpoint.json_body.required_properties + endpoint.json_body.optional_properties %}
    #property: {{  property }}
    #type: {{ property.get_instance_type_string() }}

    parser.add_argument('--{{  property.name.replace('_','-') }}',
            dest='{{  property.python_name }}',
            required={{ property.required }},
            help="""{{  property.description }}""",
            {%  if property.get_instance_type_string() == 'bool' %}
            action=cli.BooleanOptionalAction,
            {%  endif %}
            )
        {% endfor %}
    {% endif %}


    def request(
{% for parameter in endpoint.path_parameters.values() %}
    {{ parameter.to_string() }},
    {% endfor %}
{% if endpoint.requires_security %}
client: AuthenticatedClient,
{% else %}
client: Client,
{% endif %}
    {% if endpoint.json_body %}
        {% for property in endpoint.json_body.required_properties + endpoint.json_body.optional_properties %}
            {{ property.to_string() }},
            {%  endfor %}
    {% endif %}
        ):
            from .api.{{ key }}.{{ python_identifier(endpoint.name) }} import sync
            return sync(
                {% for parameter in endpoint.path_parameters.values() %}
                    {{ parameter.python_name }} = {{ parameter.python_name }},
                    {% endfor %}
                client = client,
                {% if endpoint.json_body %}
                # {{  endpoint.json_body }}
                json_body = {{ endpoint.json_body.class_info.name }}(
                    {% for property in endpoint.json_body.required_properties + endpoint.json_body.optional_properties %}
                    {{ property.python_name }} = {{ property.python_name }},
            {%  endfor %}
                    ),
                {% endif %}
            )
    return request

    # {{endpoint.json_body}}
    #print(sync.__annotations__)
    #import inspect
    #for key, value in inspect.getmembers(sync):
     #   print(key, value)

    #result = sync(client = client)
    #print (result)
    #return True


{% endfor %}

{% endfor %}
