name: Pyinstaller builds

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build-windows:
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install binarylane-cli
        run: pip install .

      - name: Install PyInstaller
        run: pip install pyinstaller

      - name: Run PyInstaller
        run: pyinstaller --name bl --onefile --copy-metadata binarylane-cli --collect-submodules binarylane src/binarylane/console/__main__.py

      - uses: actions/upload-artifact@v4
        with:
          name: windows
          path: dist/*

  build-linux:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: |
            **/poetry.lock
            **/pyproject.toml
            **/uv.lock

      - name: Create static binary
        run: >
          uv run --no-project --python 3.10 --with .,pyinstaller,staticx --
          bash -c 'pyinstaller --name bl --onefile --copy-metadata binarylane-cli
          --collect-submodules binarylane src/binarylane/console/__main__.py &&
          staticx --strip --no-compress dist/bl dist/bl'

      - uses: actions/upload-artifact@v4
        with:
          name: linux-x64
          path: dist/*
